body {
    margin: 0px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 100px;
}

main h2 {
    margin: 12px 10px;
    border-bottom: 1px solid gray;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item-double{
    flex: 2;
    margin: 10px;
}

@media all and (min-width: 800px) {
    section {
        padding: 0 10%;
    }
    .group {
        flex-direction: row;
    }
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px;
}
